html, body {
    height: 100%;
}

html body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to bottom, #28313B 60%, #485461);
}

.container {
    max-width: 75%;
    height: 100%;
    /* background-color: black; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.click-sec {
    width: 100%;
    min-height: 20em;
    background-image: linear-gradient(to bottom, #09C6F9 5%, #045DE9);
    -webkit-clip-path: polygon(5% 5%, 94% 5%, 100% 20%, 100% 95%, 0% 95%, 0% 20%);
    clip-path: polygon(5% 5%, 95% 5%, 100% 20%, 110% 95%, 0% 95%, 0% 20%);
    display: flex;
    justify-content: center;
    margin-bottom: -7em;
    transition: .1s transform;
    position: relative;
    transition: .1s box-shadow ease-out;
}

.click-sec:active {
    transform: translateY(2px);
    
    box-shadow: inset 0 0 30px 10px rgba(0, 0, 0, .3);
}

.click-sec:active p {
    color: rgb(206, 206, 206);
}

.click-sec:active .shade {
    background: -webkit-linear-gradient(#ebe9e9 50%, #B8C6DB);
}

.shade {
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    transition: .1s;
}

.shade-1 {
    width: 32%;
    height: 8px;
    right: 10%;
    top: 18%;
    background: -webkit-linear-gradient(#F5F7FA 50%, #B8C6DB);
}

.shade-2 {
    width: 20%;
    height: 3px;
    right: 13%;
    top: 22%;
    background: -webkit-linear-gradient(#F5F7FA 50%, #B8C6DB);
}

.click-sec .shade-1 {
    width: 40%;
}

.click-sec p {
    font-size: 50px;
    /* background: -webkit-linear-gradient(#F5F7FA, #B8C6DB); */
    /* background-color: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: white;
    font-weight: bold;
    align-self: center;
    transition: .1s;
    cursor: default;
}

.click-count-sec {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-clip-path: polygon(5% 5%, 94% 5%, 100% 20%, 100% 95%, 0% 95%, 0% 20%);
    clip-path: polygon(5% 5%, 95% 5%, 100% 20%, 110% 95%, 0% 95%, 0% 20%);
    position: relative;
    transform: rotate(180deg);
}

.count {
    width: 48%;
    height: 200px;
    background: 
    linear-gradient(to top, rgba(165, 165, 176, 0.4), rgba(89, 89, 99, .4) 45%);
    box-sizing: border-box;
    border: 3px solid #444;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: rotate(-180deg);
    flex-wrap: wrap;
}

.count span {
    display: inline-block;
}

.count .shade {
    background: -webkit-linear-gradient(#F5F7FA, #B8C6DB 70%);
}

.click-count .shade-1 {
    top: 13%;
    right: 3%;
    width: 40%;
}

.click-count .shade-2 {
    top: 20%;
    right: 6%;
}

.dblclick-count .shade-1 {
    width: 45%;
    top: 13%;
    right: 8%;
}

.dblclick-count .shade-2 {
    top: 20%;
    width: 25%;
    right: 9%;
}

.count p {
    color: whitesmoke;
    filter: opacity(.7);
    font-size: 30px;
    font-weight: bold;
}

.count .name {
    width: 100%;
    text-align: center;
}

.dblclick-count p {
    font-size: 26px;
}

.count .counter {
    display: none;
    margin-top: -1em;
    transition: .1s font-size ease;
}

.disabled-text-selection {
    -webkit-user-select: none;
    user-select: none;
}

@keyframes fadeIn {
    0% {
        filter: opacity(0);
    }
    100% {
        filter: opacity(1);
    }
}

@keyframes redFont {
    from {
        color: whitesmoke;
    }
    to {
        color: #CF0A0A;
    }
}

@keyframes whiteSmokeFont {
    from{
        color: #CF0A0A;
    }
    to {
        color: whitesmoke;
        filter: opacity(1);
    }
}

@media (min-width: 600px) {
    .container {
        width: 50%;
    }

    /* .click-count .shade-1 {
        width: ;
    } */
}